body {

    color: #000000;
    background-color: rgb(250, 250, 250);
     font-family: 'Oswald', sans-serif !important;
  }

.jumbotron {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    text-align: center;
    }

.panel-heading {
    background-color: #000000 !important;
   }
.panel-title {
    color: white;
}